.border-radius-5 {
    border-radius: 5px !important;
}

.img-width-8 {
    width: 100%;
    max-width: 80%;
}

.custom-card {
    background-color: #6F917B !important;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.5s;
    color: white !important;
}

.custom-card:hover {
    transform: translateY(-20px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.custom-border-top {
    border-top: 1px solid #B1CAAC;
}

/* Start Technology Page Custom Design */
.custom-tech-card {
    flex: 1;
    width: 70%;
    border: 1px solid #fff !important;   
    max-height: 45% !important;
    margin-bottom: 1rem;
    cursor: pointer;
    background: none !important;
    color: white !important;
}

.custom-tech-card .img-width-8 {
    height: 130px;
}

.custom-border-left {
    border-left: 1px solid  #B1CAAC;
}

.custom-tech-card-left {
    flex: 1;
    width: 90%;
    border: 1px solid #fff !important;   
    cursor: pointer;
    margin-bottom: 1rem;
    background: none !important;
    color: white !important;
}

.custom-tech-card-left .img-width-8 {
    max-width: 90%;
}
/* End Technology Page Custom Design */

/* Start Travel Page Custom Design */

.bg-fixed {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/travel-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    color: white;
}

.custom-travel-text {
    font-size: 80px;
    font-family: "Poetsen One", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #b4f6ca;
}

.custom-travel-earth {
    color: #4aec5a;
    text-transform: capitalize;
}

.custom-travel-card {
    width: 60%;
    margin-left: auto;
    max-height: 30% !important;
    margin-bottom: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.custom-travel-card .img-width-8 {
    height: 100px;
}

/* End Travel Page Custom Design */
