.custom-dropdown .dropdown-toggle {
    color: "#ffffff" !important;
}

.custom-search-btn {
    background: #6F917B !important;
    border: none !important;
}

.custom-query-style {
    border-bottom: 3px solid #fff;
}

.custom-nav-style {
    transition: all 0.5s;
}

.custom-nav-style:hover {
    text-decoration: underline;
    letter-spacing: 1px;
}

.border-radius-5 {
    border-radius: 5px !important;
}

.img-width-8 {
    width: 100%;
    max-width: 80%;
}

.custom-card {
    background-color: #6F917B !important;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.5s;
    color: white !important;
}

.custom-card:hover {
    transform: translateY(-20px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.custom-border-top {
    border-top: 1px solid #B1CAAC;
}

/* Start Technology Page Custom Design */
.custom-tech-card {
    flex: 1;
    width: 70%;
    border: 1px solid #fff !important;   
    max-height: 45% !important;
    margin-bottom: 1rem;
    cursor: pointer;
    background: none !important;
    color: white !important;
}

.custom-tech-card .img-width-8 {
    height: 130px;
}

.custom-border-left {
    border-left: 1px solid  #B1CAAC;
}

.custom-tech-card-left {
    flex: 1;
    width: 90%;
    border: 1px solid #fff !important;   
    cursor: pointer;
    margin-bottom: 1rem;
    background: none !important;
    color: white !important;
}

.custom-tech-card-left .img-width-8 {
    max-width: 90%;
}
/* End Technology Page Custom Design */

/* Start Travel Page Custom Design */

.bg-fixed {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/space-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    color: white;
}

.custom-travel-text {
    font-size: 80px;
    font-family: "Poetsen One", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #b4f6ca;
}

.custom-travel-earth {
    color: #4aec5a;
    text-transform: capitalize;
}

.custom-travel-card {
    width: 60%;
    margin-left: auto;
    max-height: 45% !important;
    margin-bottom: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.custom-travel-card .img-width-8 {
    height: 100px;
}

/* End Travel Page Custom Design */

/* Start Sport Page Custom Design */
.custom-sport-card {
    height: 100% !important;
    max-height: 100% !important;
    cursor: pointer;
    padding: 0;
    border: none !important;
}

.custom-sport-card .img-width-8 {
    height: 300px;
    max-width: 100% !important;
    margin: 0 !important;
    border-radius: 0;
}

/* End Sport Page Custom Design */

/* Start Ent Page Custom Design */
.custom-ent-card {
    background-color: #859b6d !important;
    cursor: pointer;
    margin-bottom: 40px;
    color: white !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.custom-ent-card .img-width-8 {
    height: 150px;
}

/* End Ent Page Custom Design */

/* Start Footer Page Custom Design */
.socialicons a {
    color: #fff;

    padding: 5px;
    margin: 0 5px;
    border: 1px solid #f4f4f4;
}

.socialicons a:hover {
    background-color: #859b6d;
}

.footerlinks {
    color: #eee;
    font-size: 13px;
    text-decoration: none;
}

.footerlinks:hover {
    color: orange;
    border-bottom: 1px solid orange;
    letter-spacing: 1px;
}

/* End Footer Page Custom Design */

/*Start progress*/
#progress {
    width: 50px;
    height: 50px;

    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    position: fixed;
    bottom: 20px;
    right: 20px;

    display: grid;
    place-items: center;

    z-index: 10;
}

#progressvalues {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*End progress*/

/* Mobile styles */
@media (max-width: 800px) {
    .custom-tech-card-left {
        margin: 0 auto 40px auto !important;
    }

    .custom-travel-card {
        margin: 20px auto 20px auto !important;
    }

    .custom-sport-card {
        height: 95% !important;
        margin-bottom: 20px !important;
    }

}
